<!DOCTYPE html>
<html lang="en">

<%- include('partials/headPartials', { title: 'Home Page' , styles:'homePage.css' }) %>

    <body>
        <div class="centered-container">
            <div class="container d-flex flex-column gap-5">
                <div class="row">
                    <h2 class="col-12 d-flex justify-content-center">
                        Welcome
                    </h2>
                    <h2 class="col-12 d-flex justify-content-center">
                        To
                    </h2>
                    <h2 class="col-12 d-flex justify-content-center">
                        Task Planner
                    </h2>
                </div>
                <div class="row ">
                    <div class="col-6 d-flex justify-content-center">
                        <a href="/login" class="btn btn-primary">Login</a>
                    </div>
                    <div class="col-6 d-flex justify-content-center">
                        <a href="/signUp" class="btn btn-primary">SignUp</a>
                    </div>
                </div>
            </div>
        </div>
        <%- include('partials/scriptPartials') %>
    </body>

</html>