<!DOCTYPE html>
<html lang="en">
    <%- include('partials/headSection', { title: 'signUp Page' , styles:'signUpPage.css' }) %>
<body>
    <div class="container">
        <div class="row">
            <form id="form-signup" class="col-12">
                <div class="mb-3 row">
                    <label for="username" class="col-4 col-form-label">Username</label>
                    <div class="col-8">
                        <input type="text" class="form-control" id="username" name="username" required>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="email" class="col-4 col-form-label">Email</label>
                    <div class="col-8">
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="password" class="col-4 col-form-label">Password</label>
                    <div class="col-8">
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="cnfrm-password" class="col-4 col-form-label">Confirm Password</label>
                    <div class="col-8">
                        <input type="password" class="form-control" id="cnfrm-password" required>
                    </div>
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary">Sign Up</button>
                </div>
                <h4 id="errorText"></h4>
            </form>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js"></script>
    <script src="/public/js/signUp.js"></script>
</body>

</html>